parameters:
    level: 5

    paths:
        - src
        - uninstall.php
        - woo-order-archive-manager.php

    excludePaths:
        - vendor/*

    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - phpstan-stubs.php

    ignoreErrors:
        -
            message: '#If condition is always false#'
            path: woo-order-archive-manager.php
            count: 1